html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #3399FF;
}

div {
	margin:0;
	padding:0;
}

h1 {
	text-align: center;
	font-family: Arial;
}

h2 {
	text-align: center;
	font-family: Arial;
	font-size: 14px;
}

ul {
	margin-left: auto;
	margin-right: auto;
	
	text-align: left;
	font-family: Arial;
	font-size: 12px;

}


button {
    margin: 10px;
    padding: 10px;
    opacity: 0.9;
    border: 0.1em solid black;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0.4em 0.4em 0.5em rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-decoration: none;
    text-align: center;




}


}

.footer, .push {
	background-color: orange;
	position: absolute;
	width: 100%;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	bottom: 0;
	left-margin: auto;
	right-margin: auto;
	overflow: hidden;
}

* {
	margin: 0;
	}
html, body {
	height: 100%;
    }
.wrapper {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.container {
	margin: auto;
	width: 500px;
	height: 300px;
	border: 10px solid black;
	background-color: white;
}

.square {
	float: left;
	
}

